div, p, table, tr, td, h2, h4 {
      margin: 0;
      padding: 0;
      border: 0;
}

h2 {
      font-size: 1.05em;
}

h4 {
      font-size: 0.8em;
      padding: 0.5em;
}

.desc {
  margin-left: 0.5em;
}

#randomisedTable {
  padding: 0.5em;
  width: 100%;
}

#settings, #groupnames {
  padding-left: 1.5em;
}

#names {
  width: 15em;
  height: 9.5em;
}

#themes, #actualgroups {
  width: 13em;
}

#actualgroups {
  height: 6.25em;
}

#randomise {
  margin-top: 2em;
}